/* table scroll*/
table{
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: auto;

    text-align: left;
}

tbody {
    height: 400px;
    overflow-y: auto;
    text-align: center;
}

tbody td, thead th {
    width: 16.6%;
    float: left;
    text-align: center;
}
