<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <!-- If IE use the latest rendering engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Set the page to the width of the device and set the zoom level -->
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <title>Car Group</title>
  <!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-select.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/cwtexhei.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css">
  <link rel="stylesheet" type="text/css" href="https//fonts.googleapis.com/earlyaccess/cwtexkai.css">
  <link rel="stylesheet" type="text/css" href="https//fonts.googleapis.com/earlyaccess/cwtexming.css">
  <link rel="stylesheet" type="text/css" href="https//fonts.googleapis.com/earlyaccess/cwtexyen.css">
  <link rel="stylesheet" type="text/css" href="css/customize.css">

</head>

<body>

  <!--navbar-->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">功能目錄<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/brands">品牌剖析</a></li>
              <li><a href="/gourps">車款推薦</a></li>
              <li><a href="/price">車價預估</a></li>
            </ul>
          </li>
          <li><a href="/home#team_intro">關於我們</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">


          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

<!--jumbotron-->
  <div class="container-fluid banner" id=banner-groups>
    <div class="jumbotron">
      <div class="container-fluid">
        <br><br><br><br>
        <h1>車款推薦</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid bigContainer">
    <a href=""></a>
    <div class="row">
      
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
        <div id="rose" style="width:100%;min-height:500px"></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
        
        <table id='featureTable' class="table table-hover">
          <thead>
            <tr>
              <th>類型</th>
              <th>價位</th>
              <th>CC數</th>
              <th>油耗</th>
              <th>最大馬力</th>
              <th>空間</th>
              <th>燃油</th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
            
      </div>
      



    </div>
  </div>
  <div class="container-fluid">

    <div class="row groupSection" id='g1' style="background:#c23531">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="jumbotron" style="margin:50px">
          <div class="container">
            <h1>小型代步車</h1>
            <p>熱門車款</p>
          </div>
        </div>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <table class="table table-hover groupTable" >
          <thead>
            <tr>

              <th>廠牌</th>
              <th>車款</th>
              <th>年份</th>
              <th>價位</th>
              <th>CC數</th>
              <th>馬力</th>
              <th>燃油</th>
              <th>油耗</th>

            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
    <div class="row groupSection" id='g2' style="background:#2f4554">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="jumbotron" style="margin:50px">
          <div class="container">
            <h1>平價家庭車</h1>
            <p>熱門車款</p>
          </div>
        </div>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <table class="table table-hover groupTable" style="width:90%; margin:50px; font-size:20px; background:rgba(256,256,256,0.3); ">
          <thead>
            <tr>

              <th>廠牌</th>
              <th>車款</th>
              <th>年份</th>
              <th>價位</th>
              <th>CC數</th>
              <th>馬力</th>
              <th>燃油</th>
              <th>油耗</th>

            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>

    <div class="row groupSection" id='g4' ; style="background:#61a0a8">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="jumbotron" style="margin:50px">
          <div class="container">
            <h1>高級家庭車</h1>
            <p>熱門車款</p>
          </div>
        </div>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <table class="table table-hover groupTable" style="width:90%; margin:50px; font-size:20px; background:rgba(256,256,256,0.3); ">
          <thead>
            <tr>

              <th>廠牌</th>
              <th>車款</th>
              <th>年份</th>
              <th>價位</th>
              <th>CC數</th>
              <th>馬力</th>
              <th>燃油</th>
              <th>油耗</th>

            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
    <div class="row groupSection" id='g3' style="background:#d48265">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="jumbotron" style="margin:50px">
          <div class="container">
            <h1>高速長程車</h1>
            <p>熱門車款</p>
          </div>
        </div>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <table class="table table-hover groupTable" style="width:90%; margin:50px; font-size:20px; background:rgba(256,256,256,0.3); ">
          <thead>
            <tr>

              <th>廠牌</th>
              <th>車款</th>
              <th>年份</th>
              <th>價位</th>
              <th>CC數</th>
              <th>馬力</th>
              <th>燃油</th>
              <th>油耗</th>

            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
    <div class="row groupSection" id='g5' style="background:#91c7ae">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="jumbotron" style="margin:50px">
          <div class="container">
            <h1>綠色節能車</h1>
            <p>熱門車款</p>
          </div>
        </div>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <table class="table table-hover groupTable" style="width:90%; margin:50px; font-size:20px; background:rgba(256,256,256,0.3); ">
          <thead>
            <tr>

              <th>廠牌</th>
              <th>車款</th>
              <th>年份</th>
              <th>價位</th>
              <th>CC數</th>
              <th>馬力</th>
              <th>燃油</th>
              <th>油耗</th>

            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
    <div class="row groupSection" id='g6' style="background:#749f83">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="jumbotron" style="margin:50px">
          <div class="container">
            <h1>奢華頂級車</h1>
            <p>熱門車款</p>
          </div>
        </div>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <table class="table table-hover groupTable" style="width:90%; margin:50px; font-size:20px; background:rgba(256,256,256,0.3); ">
          <thead>
            <tr>

              <th>廠牌</th>
              <th>車款</th>
              <th>年份</th>
              <th>價位</th>
              <th>CC數</th>
              <th>馬力</th>
              <th>燃油</th>
              <th>油耗</th>

            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>

    <!--footer-->
    <div id='footer'>
      <div class="container" style="">
        <h2>CONNECT WITH US</h2>
        <br>
        <i class="fa fa-home fa-3x" aria-hidden="true"></i>
        <i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i>
        <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
        <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
        <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
        <hr style="color:gray; border-width:1px">
        <br>
        <br>
        <br>
        <br>
        <p>© 2017 BB101 前車之鑑小組. All rights reserved.</p>
      </div>
    </div>








    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/echarts.min.js"></script>

    <script src="js/rose.js"></script>
    <script src="js/carGroup.js"></script>

</body>

</html>